<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
  {{> navbar }}
  <div class="row">
    <div class="col-8">
      <h1>About</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro ducimus est veniam consequatur praesentium! Velit incidunt soluta sequi eius quaerat quasi nobis magnam quidem error, animi temporibus voluptates, autem iste?</p>
    </div>
    <div class="col-4">
      <img src="assets/img/spiderman.jpg" class="img-thumbnail">
    </div>
  </div>

  <footer>
    Wilson Martinez - {{ getAnio }}
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>